.achivement {
	position: absolute;
	padding: 10px;
	border: solid 1px rgb(0, 0, 0);
	margin: 20px;
}

.img_achivement {
	position: absolute;
	border: solid 1px rgb(0, 0, 0);
	margin: 20px;
}

#ct_01_complete {
	display: none;
	background-color: yellow;
}

#ct_02_complete {
	display: none;
	background-color: yellow;
	margin-left: 100px;
}

#reach_b {
	display: none;
	line-height: 0em;
	margin-left: 175px;
}

#reach_s {
	display: none;
	line-height: 0em;
	margin-left: 225px;
}

#reach_g {
	display: none;
	line-height: 0em;
	margin-left: 275px;
}

#reach_p {
	display: none;
	line-height: 0em;
	margin-left: 325px;
}

#reach_d {
	display: none;
	line-height: 0em;
	margin-left: 375px;
}

#reach_m {
	display: none;
	line-height: 0em;
	margin-left: 425px;
}

#l50 {
	display: none;
	margin-left: 475px;
}

#l100 {
	display: none;
	margin-left: 525px;
}

#l150 {
	display: none;
	margin-left: 585px;
}

#l200 {
	display: none;
	margin-left: 645px;
}

#l250 {
	display: none;
	margin-left: 705px;
}

#l300 {
	display: none;
	margin-left: 765px;
}

#l350 {
	display: none;
	margin-left: 825px;
}

#l400 {
	display: none;
	margin-left: 885px;
}

#l450 {
	display: none;
	margin-left: 945px;
}

#l500 {
	display: none;
	margin-left: 1005px;
}


#s1_play {
	display: none;
	background-color: white;
	margin-left: 1065px;
}

#s1_complete {
	display: none;
	background-color: yellow;
	margin-left: 1115px;
}

#ct_01_complete_tt {
    display: none;
} #ct_01_complete:hover + #ct_01_complete_tt {
    display: block;
}

#ct_02_complete_tt {
    display: none;
} #ct_02_complete:hover + #ct_02_complete_tt {
    display: block;
}

#reach_b_tt {
    display: none;
} #reach_b:hover + #reach_b_tt {
    display: block;
}

#reach_s_tt {
    display: none;
} #reach_s:hover + #reach_s_tt {
    display: block;
}

#reach_g_tt {
    display: none;
} #reach_g:hover + #reach_g_tt {
    display: block;
}

#reach_p_tt {
    display: none;
} #reach_p:hover + #reach_p_tt {
    display: block;
}

#reach_d_tt {
    display: none;
} #reach_d:hover + #reach_d_tt {
    display: block;
}

#reach_m_tt {
    display: none;
} #reach_m:hover + #reach_m_tt {
    display: block;
}

#l50_tt {
    display: none;
} #l50:hover + #l50_tt {
    display: block;
}

#l100_tt {
    display: none;
} #l100:hover + #l100_tt {
    display: block;
}


#l150_tt {
    display: none;
} #l150:hover + #l150_tt {
    display: block;
}

#l200_tt {
    display: none;
} #l200:hover + #l200_tt {
    display: block;
}


#l250_tt {
    display: none;
} #l250:hover + #l250_tt {
    display: block;
}

#l300_tt {
    display: none;
} #l300:hover + #l300_tt {
    display: block;
}


#l350_tt {
    display: none;
} #l350:hover + #l350_tt {
    display: block;
}

#l400_tt {
    display: none;
} #l400:hover + #l400_tt {
    display: block;
}


#l450_tt {
    display: none;
} #l450:hover + #l450_tt {
    display: block;
}

#l500_tt {
    display: none;
} #l500:hover + #l500_tt {
    display: block;
}

#s1_play_tt {
    display: none;
} #s1_play:hover + #s1_play_tt {
    display: block;
}

#s1_complete_tt {
    display: none;
} #s1_complete:hover + #s1_complete_tt {
    display: block;
}