@media screen and (max-width:1360px) {
    .category {
        display: none;
        white-space: nowrap;
        width: 150px;
        padding: 20px;
        border: solid 1px black;
        left: 50%;
        transform: translateX(-50%);
    }
    #items_open {
        display: none;
        position: absolute;
        margin-top: 100px;
    }
    #collection_open {
        display: none;
        position: absolute;
        margin-top: 200px;
    }
    #setting_open {
        display: none;
        position: absolute;
        margin-top: 300px;
    }
    #stats_open {
        display: none;
        position: absolute;
        margin-top: 400px;
    }
    #cards_open {
        display: none;
        position: absolute;
        margin-top: 500px;
    }
    #bank_open {
        display: none;
        position: absolute;
        margin-top: 600px;
    }
    #pass_open {
        display: none;
        position: absolute;
        margin-top: 700px;
    }
    #rank_open {
        display: none;
        position: absolute;
        margin-top: 850px;
    }
    #collection-series {
        white-space: nowrap;
    }
    #ct_01_open {
        display: flex;
        text-align: center;
        width: fit-content;
        margin: auto;
    }
    #ct_02_open {
        display: none;
        text-align: center;
        width: fit-content;
        margin: auto;
    }
    #ct_demo_open {
        display: none;
        text-align: center;
        width: fit-content;
        margin: auto;
    }
}