* {
    overflow-x: hidden;
    margin: 0;
	padding: 0;
}

#alert {
    display: none;
}

.category {
    width: 100%;
    padding: 20px;
    border: solid 1px black;
}

#candy {
    width: 100%;
    padding: 20px;
    border: solid 1px black;
}

@media screen and (max-width:1360px) {
    .category {
        display: none;
        white-space: nowrap;
        width: 150px;
        padding: 20px;
        border: solid 1px black;
        left: 50%;
        transform: translateX(-50%);
    }
    #items_open {
        display: none;
        position: absolute;
        margin-top: 100px;
    }
    #collection_open {
        display: none;
        position: absolute;
        margin-top: 200px;
    }
    #setting_open {
        display: none;
        position: absolute;
        margin-top: 300px;
    }
    #stats_open {
        display: none;
        position: absolute;
        margin-top: 400px;
    }
    #cards_open {
        display: none;
        position: absolute;
        margin-top: 500px;
    }
    #bank_open {
        display: none;
        position: absolute;
        margin-top: 600px;
    }
    #pass_open {
        display: none;
        position: absolute;
        margin-top: 700px;
    }
    #collection-series {
        white-space: nowrap;
    }
    #ct_01_open {
        display: flex;
        text-align: center;
        width: fit-content;
        margin: auto;
    }
    #ct_02_open {
        display: flex;
        text-align: center;
        width: fit-content;
        margin: auto;
    }
    #ct_demo_open {
        display: flex;
        text-align: center;
        width: fit-content;
        margin: auto;
    }

    #ct_01 {
        top: 30px;
    }
    #ct_02 {
    }
}

#main {
    padding: 20px;
    width: 100%;
    border: solid 1px black;
    text-align: center;
}

#stats {
    display: none;
}

#collection {
    display: none;
}

#setting {
    display: none;
}

#cards {
    display: none;
}

#bank {
    display: none;
}

#items {
    display: none;
}

#pass {
    display: none;
}

.box {
    overflow: hidden;
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    z-index: 0;
}

#block {
    position: absolute;
    top: 200px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

#stick {
    position: absolute;
    top: 400px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

#ecube {
    position: absolute;
    top: 600px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

#wand {
    position: absolute;
    top: 600px;
    left: 25%;
    right: 75%;
    transform: translateX(-25%);
    opacity: 0.5;
}

#sword {
    position: absolute;
    top: 600px;
    left: 75%;
    right: 25%;
    transform: translateX(-75%);
    opacity: 0.5;
}

#dcwand {
    position: absolute;
    top: 800px;
    left: 25%;
    right: 75%;
    transform: translateX(-25%);
    opacity: 0.5;
}

#bwand {
    position: absolute;
    top: 800px;
    left: 15%;
    right: 75%;
    transform: translateX(-15%);
    opacity: 0.5;
}

#twand {
    position: absolute;
    top: 1000px;
    left: 25%;
    right: 75%;
    transform: translateX(-25%);
    opacity: 0.5;
}

#dsword {
    position: absolute;
    top: 800px;
    left: 75%;
    right: 25%;
    transform: translateX(-75%);
    opacity: 0.5;
}

#tsword {
    position: absolute;
    top: 1000px;
    left: 75%;
    right: 25%;
    transform: translateX(-75%);
    opacity: 0.5;
}

#lastsword {
    position: absolute;
    top: 1200px;
    left: 75%;
    right: 25%;
    transform: translateX(-75%);
    opacity: 0.5;
}

#lastwand {
    position: absolute;
    top: 1200px;
    left: 25%;
    right: 75%;
    transform: translateX(-25%);
    opacity: 0.5;
}

#ar {
    position: absolute;
    top: 200px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

#sg {
    position: absolute;
    top: 200px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

#smg {
    position: absolute;
    top: 200px;
    left: 60%;
    right: 40%;
    transform: translateX(-40%);
    opacity: 0.5;
}

#rev {
    position: absolute;
    top: 200px;
    left: 30%;
    right: 70%;
    transform: translateX(-70%);
    opacity: 0.5;
}

#sr {
    position: absolute;
    top: 200px;
    left: 70%;
    right: 30%;
    transform: translateX(-30%);
    opacity: 0.5;
}

#bow {
    position: absolute;
    top: 200px;
    left: 20%;
    right: 80%;
    transform: translateX(-80%);
    opacity: 0.5;
}

#granade_luncher {
    position: absolute;
    top: 200px;
    left: 80%;
    right: 20%;
    transform: translateX(-20%);
    opacity: 0.5;
}

#knife {
    position: absolute;
    top: 200px;
    left: 10%;
    right: 90%;
    transform: translateX(-90%);
    opacity: 0.5;
}

.bought {
    opacity: 1 !important;
}

#collection-series {
    padding: 10px;
    width: 100%;
    border-bottom: solid 1px black;
    text-align: center;
}

.collection_tree {
    width: 100%;
    padding: 10px;
    border: solid 1px black;
}

#ct_02 {
    display: none;
}

#ct_demo {
    display: none;
}

.tooltip {
    overflow: hidden;
    position: fixed;
    bottom: -40px;
    left: 50%;
    right: 50%;
    width: 500px;
    height: 200px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    z-index: 1;
} .tooltip img {
    position: absolute;
    bottom: -2px;
    right: -2px;
    border: 2px solid rgb(0, 0, 0);
}

#block_tt {
    display: none;
} #block:hover + #block_tt {
    display: block;
}

#stick_tt {
    display: none;
} #stick:hover + #stick_tt {
    display: block;
}

#ecube_tt {
    display: none;
} #ecube:hover + #ecube_tt {
    display: block;
}

#wand_tt {
    display: none; 
} #wand:hover + #wand_tt {
    display: block;
}

#sword_tt {
    display: none;  
} #sword:hover + #sword_tt {
    display: block;
}

#dcwand_tt {
    display: none;
} #dcwand:hover + #dcwand_tt {
    display: block;
}

#bwand_tt {
    display: none;
} #bwand:hover + #bwand_tt {
    display: block;
}

#dsword_tt {
    display: none;
} #dsword:hover + #dsword_tt {
    display: block;
}

#tsword_tt {
    display: none;
} #tsword:hover + #tsword_tt {
    display: block;
}

#twand_tt {
    display: none;
} #twand:hover + #twand_tt {
    display: block;
}

#lastsword_tt {
    display: none;
} #lastsword:hover + #lastsword_tt {
    display: block;
}

#lastwand_tt {
    display: none;
} #lastwand:hover + #lastwand_tt {
    display: block;
}

#ar_tt {
    display: none;
} #ar:hover + #ar_tt {
    display: block;
}

#sg_tt {
    display: none;
} #sg:hover + #sg_tt {
    display: block;
}

#smg_tt {
    display: none;
} #smg:hover + #smg_tt {
    display: block;
}

#rev_tt {
    display: none;
} #rev:hover + #rev_tt {
    display: block;
}

#sr_tt {
    display: none;
} #sr:hover + #sr_tt {
    display: block;
}

#bow_tt {
    display: none;
} #bow:hover + #bow_tt {
    display: block;
}

#granade_luncher_tt {
    display: none;
} #granade_luncher:hover + #granade_luncher_tt {
    display: block;
}

#knife_tt {
    display: none;
} #knife:hover + #knife_tt {
    display: block;
}

.level {
    text-align: center;
    border: solid 1px rgb(0, 0, 0);
}

#l0 {
    background-color: yellow;
}

.lup {
    background-color: yellow;
}

#bank_level {
    position: absolute;
    width: 70%;
    height: 20px;
    border-radius: 0%;
    transform: skewX(40deg) translateX(-50%);
    border: solid 1px #000;
    left: 50%;
}

#progress_word {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}